body {
    background:#000000 none repeat scroll 0 0;
}

#main_body {
    background:#fff none repeat scroll 0 0;
}

div#header {
    background:#282F32 none repeat scroll 0 0;


    color:white;
}


div#header h1 {
    display:block;
    float:left;
    left:-1px;
    margin-left:30px;
    margin-right:54px;
    position:relative;
    text-transform:uppercase;
    margin-bottom:5px;
    margin-top:5px;
}

div#header div#nav {
    background:#282F32 none repeat scroll 0 0;


    color:white;
}

div#nav ul {
    display:block;
    float:left;
    margin:0;
}

div#nav ul li {
    display:block;
    float:left;
    margin-right:1px;
}



div#nav ul li a {
    color:white;
    display:block;
    font-size:1.5em;
    font-weight:bold;
    letter-spacing:1px;
    padding:1.6em 10px;
    text-shadow:0 1px 0 #3E0B0B;
    text-transform:uppercase;
    text-decoration:none;
}

div#nav ul li a:hover{
    background: #151819;
    text-decoration:underline;
}

div#nav ul li a.active{
    background: #900;
}


div#footer {
    color:#FFF;
    font-size:1.25em;
    font-weight:bold;
    text-shadow:1px 1px 2px #0B1115;
    margin-left:-1px;
}

div#footer  {
    background:transparent url(../images/1x1-dark-blue.png) repeat scroll 0 0;
    border:1px solid #172025;
}

div#footer p {
    margin:0;
    padding:0.5em 40px;
}


div#footer a {
    color:#176AB1;
}

div#footer a:hover {
    color:white;
}



div#sidebar {
    background-image:url(../images/slant-dark.png);
    padding-top:3.5em;
    background-color:#0B0E11;
    color:white;
}
div#sidebar h2 {
    color:white;
}

div#sidebar .section {
    padding:0 40px 0 20px;
}

div#sidebar textarea {
    width:inherit;
    height:inherit;
}

div#sidebar a {
    color:#176AB1;
}

div#sidebar a:hover {
    color:white;
}

/*/////////////////////////////////////////////////////////////////////////////

                SCAFFOLD FORM CSS
/////////////////////////////////////////////////////////////////////////////*/


#scaffold_form table th {
    vertical-align: top;
    background-color:#EEEEEE;
    border-top:1px solid #DFD3C3;
}

#scaffold_form table td {
    background-color:#EEEEEE;
    border-top:1px solid #DFD3C3;
}

#scaffold_form table input[type="text"] {
    width:99%;
}

#scaffold_form textarea {
    padding:0px;
    width:99%;
    height:inherit;
}

/*/////////////////////////////////////////////////////////////////////////////

                            ADMIN_TABLE CSS
/////////////////////////////////////////////////////////////////////////////*/


#admin_table th,#admin_table td,#admin_table caption {
padding:4px 1px 4px 5px;
}
#admin_table th {
        border:1px solid #000;

       /* border-width: 1px 1px 1px 0px;*/
}

#admin_table { border-collapse:collapse;}

#bookings_table th,#bookings_table td,#bookings_table caption {
padding:4px 1px 4px 5px;

}
#bookings_table th {
        border:1px solid #000;

       /* border-width: 1px 1px 1px 0px;*/
}

#bookings_table { border-collapse:collapse;}

#stats .total td, #stats .total th  {border-top:white 1px solid;}

