<h2>Information</h2>
  <ul>
    <li>All times are UTC times.</li>
    <li>In case you book more than one flight, please ensure that there is enough time between the flights.</li>
    <li>Once booked, you will receive an email with confirming your booking.</li>
    <li>The routes given are real world routes, so please use them!</li>
  </ul>
