<p>In order to offer you the best period of traffic with the most interesting flights. This year's schedule reflects the movements which took place at Dublin Airport on Sunday, 28th of August between 1100z and 2100z.</p>
<p>The VATeir ATC-Team is awaiting your visit with more than 20 controllers.</p>

