<% title "Flight Booking" %>

<p>
  <strong>Name:</strong>
  <%=h @flight_booking.name %>
</p>

<p>
  <%= link_to "Edit", edit_flight_booking_path(@flight_booking) %> |
  <%= link_to "Destroy", @flight_booking, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", flight_bookings_path %>
</p>
