<% title 'Legal Stuff' %>
<p>The website-provider advises all authors of this site, not to use any licensed or copyrighted material (pictures, articles and other).
  Although we try to check each article on this site carefully before it gets published, we cannot guarantee that any possible violation
of copyrights will be recognized.</p>

<p>If you are the copyright holder of any published material on this site, please contact us, using the email address above,
  and we will immediately remove your material. Please inform about the relevant information (URL) and mention the website
  or publication where you have published the relevant information. Due to this, there is no need to protect your copyright
with costs in any case; such costs will not be refunded.</p>