<div class="span-24">
  <h3>
    <%= link_to "Manage Bookings", bookings_path %> | <%= link_to "Manage Flights", flights_path %> | <%= link_to "Manage Downloads", downloads_path %> | <%= link_to "Logout", logout_path %>
  </h3>
</div>
